.Button {
    width: 100%;
    font-size: 16px;
    color: var(--light-color);
    font-weight: 700;
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    padding: 10px 32px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.Button:hover {
    opacity: 0.9;
}